.work_space{
     display:grid;
     grid-template-columns:repeat(200,1fr);
     grid-template-rows:repeat(200,1fr);  
}
.work_space div:first-child{
      grid-column:1/70;
      grid-row:1/86;  
}
.item2{
     grid-column:74/144;
      grid-row:1/86;
}
.item3{
     grid-column:145/201;
      grid-row:1/86; 
}
.item4{
      grid-column:1/70;
      grid-row:112/201;
}
.item5{
    grid-column:74/144;
      grid-row:112/201;
}
.item6{
     grid-column:145/201;
      grid-row:112/201;
} 